parameters:
  bcc_resque_prefix: worker
  core_url: http://app.simplytestable.com
  html-validator-path: /usr/lib/cgi-bin/w3c-markup-validator/check
  css-validator-jar-path: /usr/share/css-validator/2002/css-validator/css-validator.jar
  node-path: /usr/bin/nodejs
  node-jslint-path: /usr/share/node-jslint/node_modules/jslint/bin/jslint.js
  resque_pid: "simplytestable_workerbundle"
  hostname: hydrogen.worker.simplytestable.com
  admin_password: password
  worker_process_count: 5
  max_tasks_request_factor: 2