app/bootstrap.php.cache
app/config/security_credentials.yml
/bin

/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
src/SimplyTestable/WorkerBundle/Resources/config/parameters.yml

# IDE meta
/.idea
