parameters:
  excludes_analyse:
    - %currentWorkingDirectory%/src/Migrations/*

  symfony:
    container_xml_path: '%rootDir%/../../../var/cache/test/srcApp_KernelTestDebugContainer.xml'

  ignoreErrors:
    - message: '#^Service "[^"]+" is private.$#'
      path: %currentWorkingDirectory%/tests/
    -
      message: '#::createWebPage\(\) should return webignition\\WebResource\\WebPage\\WebPage#'
      path: %currentWorkingDirectory%/tests/Unit/Services/CssSourceInspectorTest.php

includes:
  - vendor/phpstan/phpstan-mockery/extension.neon
  - vendor/phpstan/phpstan-symfony/extension.neon
